.doctor-schedule-container {
    height      : 100%;
    border-right: 1px solid #ddd;

    .all-schedule {
        select {
            border-bottom: 1px solid #ddd;
            border-top   : none;
            border-left  : none;
            border-right : none;
            outline      : none;
            padding      : 10px 0;
            font-weight  : 600;
            cursor       : pointer;
            color        : #337ab7;

            option {
                cursor: pointer;
            }
        }
    }

    .all-availabel-time {
        .text-calendar {
            margin: 10px 0;
            color : #333;

            span {
                text-transform: uppercase;
                margin-left   : 5px;
            }
        }

        .time-content {
            .time-content-btns {
                display  : flex;
                gap      : 15px;
                flex-wrap: wrap;
            }

            button {
                padding         : 8px 10px;
                border          : none;
                outline         : none;
                min-width       : 120px;
                background-color: #fff04b;
                border-radius   : 3px;
                font-weight     : 600;
                color           : #333;

                &:hover {
                    background-color: #45c3d2;
                    color           : white
                }
            }

            .btn-vi {
                min-width: 120px;
            }

            .btn-en {
                min-width: 170px;
            }

            .no-schedule {
                font-style: italic;
                font-size : 14px;
            }

        }

        .book-free {
            margin-top: 10px;
        }


    }
}